.no-margin {
  margin: 0 !important;
}

.w-100 {
  width: 23% !important;
}

.border-button{
  border-style: groove;
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  z-index: 9999;
}
