<div id="updateContactDialog" class="dialog">
    <div class="content-scroll" *ngIf="contactForm">
      <div class="content-header" fxLayout="row">
        <h2 class="title-content" mat-dialog-title>Editar contato</h2>
        <button id="cancel-edit-contact-button" mat-icon-button class="mat-icon-content" (click)="close()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div class="dialog-content">
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="contactForm" fxLayout="column">
            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input id="name-update-contact-input" matInput disableRipple formControlName="nome" placeholder="Nome" />
                  </mat-form-field>
            </div>
  
            <div fxFlex="100" fxLayoutGap="16px">
              <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input mask="(00)00000-0000" id="phone-update-contact-input" matInput disableRipple formControlName="telefone" placeholder="Nome" />
                <mat-error *ngIf="contactForm &&
                contactForm.controls['telefone'].hasError('maxLength')">
                Máximo 11 caracteres </mat-error>
                <mat-error *ngIf="contactForm &&
                contactForm.controls['telefone'].hasError('minLength')">
                Mínimo 11 caracteres </mat-error>
              </mat-form-field>
  
              <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Email</mat-label>
                <input id="email-update-contact-input" matInput disableRipple formControlName="email" placeholder="Email" />
                <mat-error *ngIf="contactForm &&
                contactForm.controls['email'].hasError('email')">
                Email inválido </mat-error>
              </mat-form-field>
            </div>
        </form>
        </mat-dialog-content>
        <mat-dialog-actions>
          <div class="button-dialog">
            <button id="cancel-update-contact-button" mat-flat-button mat-dialog-close (click)="closeDialog()">
              Cancelar
            </button>
            <button id="save-update-contact-button" mat-flat-button [mat-dialog-close]="true" color="primary"
              (click)="save()">
              Salvar
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
</div>
 