#contactList {
  padding-bottom: 10px;
  max-width: 1650px;

  .form-tab {
    margin-top: 20px;
  }

  .table-contacts {
    margin-top: 10%;
    overflow: auto;
    height: 100%;
    max-height: 570px !important;
    width: 100%;
    border-radius: 20px;
    margin-left: 8%;

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }

    tr:hover {
      background: #d0e7ef !important;
    }
   
    .mat-tab-label-active {
      border-bottom: 2px solid #D55756;
      opacity: 1 !important;
    }

    .mat-ink-bar {
      height: 0px !important;
    }

    table th {
      overflow: hidden;
      color: white;
      border: 1px solid #D55756;
      background: #D55756;
    }

    table td {
      height: 48px;
      color: black;
    }

    table {
      width: 100%;
      max-width: 500px;
      background: white;
      border-radius: 32px;
    }
  }

  .add-button{
    margin-right: 10px;
  }

  a{
    background-color:#25D366;
    color:#ffffff;
    border-radius: 30px;
  }
  
}