<div id="createContactDialog" class="dialog">
    <div class="content-scroll" *ngIf="contactForm">
      <div class="content-header" fxLayout="row">
        <h2 class="title-content" mat-dialog-title>Criar novo contato</h2>
        <button id="close-create-contact-button" mat-icon-button class="mat-icon-content" (click)="close()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div class="dialog-content">
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="contactForm" fxLayout="column">
            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input id="name-create-contact-input" matInput disableRipple formControlName="nome" placeholder="Nome" />
                  </mat-form-field>
            </div>
  
            <div fxFlex="100" fxLayoutGap="16px">
              <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input id="phone-create-contact-input" matInput disableRipple formControlName="telefone" placeholder="Nome" />
              </mat-form-field>
  
              <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Email</mat-label>
                <input id="email-create-contact-input" matInput disableRipple formControlName="email" placeholder="Sobrenome" />
              </mat-form-field>
            </div>
        </form>
        </mat-dialog-content>
        <mat-dialog-actions>
          <div class="button-dialog">
            <button id="cancel-create-contact-button" mat-flat-button mat-dialog-close (click)="closeDialog()">
              Cancelar
            </button>
            <button id="save-create-contact-button" mat-flat-button [mat-dialog-close]="true" color="primary"
              (click)="save()">
              Salvar
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
</div>
 