<div id="LoginDialog" class="dialog">
  <div class="content-scroll" *ngIf="userForm">
    <div class="content-header" fxLayout="row">
      <h2 class="title-content" mat-dialog-title>Criar conta</h2>
      <button id="cancel-button" mat-icon-button class="mat-icon-content" (click)="close()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="dialog-content">
      <mat-dialog-content class="mat-typography">
        <form [formGroup]="userForm" fxLayout="column">
          <div fxFlex="100" fxLayoutGap="16px">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Email</mat-label>
              <input id="email-register-input" matInput disableRipple formControlName="email" placeholder="Nome" />
              <mat-error *ngIf="userForm &&
                    userForm.controls['email'].hasError('required')">
                Campo obrigatório </mat-error>

              <mat-error *ngIf="userForm &&
                    userForm.controls['email'].hasError('email')">
                Email inválido </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxLayoutGap="16px">
            <mat-form-field class="password-form-field" fxFlex="100" appearance="outline">
              <mat-label>Senha</mat-label>
              <input id="password-register-input" matInput disableRipple formControlName="password"
                placeholder="Nome" />
              <mat-error *ngIf="userForm &&
                userForm.controls['password'].hasError('required')">
                Campo obrigatório </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div class="button-dialog">
          <button id="cancel-register-button" mat-flat-button mat-dialog-close (click)="closeDialog()">
            Cancelar
          </button>
          <button id="save-register-button" mat-flat-button [mat-dialog-close]="true" color="primary" (click)="save()">
            Salvar
          </button>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>