.success-message {
    color: black !important;
    width: 400px;
    background-color: #4CDB72 !important;
    .mat-simple-snackbar-action {
        color: black !important;
    }
}
.error-message {
    color: #ffffffde !important;
    width: 400px;
    background-color: #E30F0F !important;
    .mat-simple-snackbar-action {
        color: #ffffffde !important;
    }
}